
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/KidKinderLayout/_Layout.cshtml";
}

<body>



    @Html.Action("PartialFeature", "Default")

    @Html.Action("PartialServices", "Default")

    @Html.Action("PartialAbout", "Default")

    @Html.Action("PartialClassRooms", "Default")

    @Html.Action("PartialBookASeat", "Default")

    @Html.Action("PartialTeacher", "Default")

    @Html.Action("PartialTestimonial", "Default")

</body>