@model List<KidKinder.Entities.ClassRoom>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="page-header-title">
                    <h5 class="m-b-10">Classes</h5>
                    <p class="m-b-0">Classes page</p>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/Dashboard/index"> <i class="fa fa-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/Dashboard/index">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/Classes/index">Classes</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">
                <div class="card">
                    <div class="card-header">
                        <h5>Classes List Table</h5>
                        <span>Classes Table used for Classes Operations  </span>
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                <li><i class="fa fa-window-maximize full-card"></i></li>
                                <li><i class="fa fa-minus minimize-card"></i></li>
                                <li><i class="fa fa-refresh reload-card"></i></li>
                                <li><i class="fa fa-trash close-card"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-block table-border-style">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Class</th>
                                        <th>Description</th>
                                        <th>AgeofKids</th>
                                        <th>Totalseat</th>
                                        <th>ClassTime</th>
                                        <th>Price</th>
                                        <th>Update</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.ClassroomId</td>
                                            <td>@item.Title</td>
                                            <td>@item.Description</td>
                                            <td>@item.AgeofKids</td>
                                            <td>@item.Totalseat</td>
                                            <td>@item.ClassTime</td>
                                            <td>@item.Price</td>
                                            <td><a href="/AdminClasses/UpdateClasses/@item.ClassroomId" class="btn btn-success">Update</a></td>
                                            <td><a href="/AdminClasses/DeleteClasses/@item.ClassroomId" class="btn btn-danger">Delete</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/AdminClasses/CreateClasses" class="btn btn-primary"> Add New Teacher</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

