@model List<KidKinder.Entities.Parent>

@{
    ViewBag.Title = "ParentList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="page-header-title">
                    <h5 class="m-b-10">Parent</h5>
                    <p class="m-b-0">Parent Page</p>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/Dashboard/index"> <i class="fa fa-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/Dashboard/index">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/Parent/ParentList">Parent</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">
                <div class="card">
                    <div class="card-header">
                        <h5>Parent List Table</h5>
                        <span>Parent Table used for Parent Operations  </span>
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                <li><i class="fa fa-window-maximize full-card"></i></li>
                                <li><i class="fa fa-minus minimize-card"></i></li>
                                <li><i class="fa fa-refresh reload-card"></i></li>
                                <li><i class="fa fa-trash close-card"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-block table-border-style">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Surname</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Adress</th>
                                        <th>Update</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.ParentId</td>
                                            <td>@item.Name</td>
                                            <td>@item.Surname</td>
                                            <td>@item.Email</td>
                                            <td>@item.Phone</td>
                                            <td>@item.Adress</td>

                                            <td><a href="/Parent/UpdateParent/@item.ParentId" class="btn btn-success">Update</a></td>

                                            <td><a href="/Parent/DeleteParent/@item.ParentId" class="btn btn-danger">Delete</a></td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/Parent/CreateParent" class="btn btn-primary"> Add New Teacher</a>
                        </div>
                    </div>
           
                </div>
            </div>
        </div>
    </div>
</div>


